<script src="/js/metodos.js"></script>
<script>
    $(document).ready(function () {
        validarRegistro()
    });
</script>
<div class="modal fade" id="modificarHistorial" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modg-scrollable" role="document">
        <div class="modal-content">
            <div class="bg-success text-black">
                <center>
                    <h5 class="modal-title" id="">MODIFICAR HISTORIAL</h5>
                </center>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="error1"></div>
                <form id="tablareg" method="POST" action="/actualizarHistorial">
                    
                    <input type="hidden" value="" id="externalHistorialH" name="externalHistorialH" />
                    <div id="mensaje"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Causa:</span>
                            <input type="text" class="form-control" id="causaH" name="causaH" placeholder="Ingrese su nombre">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Estado:</span>
                            <input type="text" class="form-control" id="estadoH" name="estadoH" placeholder="Ingrese sus raza">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Enfermedades:</span>
                            <input type="text" class="form-control" id="enfermedadesH" name="enfermedadesH" placeholder="Ingrese edad">
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Tratamiento:</span>
                            <input type="label" class="form-control" id="tratamientoH" name="tratamientoH" placeholder="ejemplo: (perro, gato, vaca, pato)">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncancelar" class="btn-danger" data-dismiss="modal"> CANCELAR</i></button>
                        <button type="submit" id="guardar" class=" btn-info">GUARDAR </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>