<script src="/js/metodos.js"></script>
<script>
    $(document).ready(function () {
        validarregistroHistorial();
    });
</script>
<div class="modal fade" id="registroHistorial" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modg-scrollable" role="document">
        <div class="modal-content">
            <div class="card-header bg-succses">
                <div class="card-title text-center">
                    <p class="card-text ">
                        <h4>REGISTRAR HISTORIAL</h4>
                    </p>
                </div>
            </div>

            <div class="modal-body">
                <form id="registrarHV" method="POST" action="/veterinario/registro/historial">
                    {{#each lista}}
                    <input type="hidden" value="{{external_id}}" id="externalMasc" name="externalMasc" />
                    <input type="hidden" value="{{persona.external_id}}" id="externalCli" name="externalCli" />
                    {{/each}}
                    <div id="mensaje"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Enfermedades:</span>
                            <input type="text" class="form-control" id="enfermedades" name="enfermedades" placeholder="Ingrese las enfermedades">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Estado:</span>
                            <input type="text" class="form-control" id="estado" name="estado" placeholder="Ingrese el estado">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Causa:</span>
                            <input type="text" class="form-control" id="causa" name="causa" placeholder="Ingrese la causa">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Tratamiento:</span>
                            <input type="text" class="form-control" id="tratamiento" name="tratamiento" placeholder="Ingrese el tratamiento">
                        </div>
                    </div>
                    {{!-- <label for="edad">Tipo:</label> --}}
                    <div class="modal-footer">
                        <button type="button" id="btncancelar" class="btn-danger" data-dismiss="modal"> CANCELAR</i></button>
                        <button type="submit" id="guardar" class=" btn-info">GUARDAR </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>