<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <script src="/javascripts/utilidades.js"></script>
    <title>Faith Church Multi</title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/vendors/linericon/style.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/stylesheets/vendors/nice-select/css/nice-select.css">
    <!-- main css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/mensajes.css">

    {{#if inicio}}
    <link rel="stylesheet" href="/stylesheets/inicioSesion.css">
    <link rel="stylesheet" href="/stylesheets/mensajes.css">
    {{/if}}



    <link rel="stylesheet" href="/stylesheets/responsive.css">

</head>


<section class="banner_area d-flex text-center">

            <div class="container">
                <div class="frame">


                    <div style="font-size: 20px; color: #b21f2d;"> 
                        {{msg.error}}
                    </div>
                    <div style="font-size: 20px; color: green;"> 
                        {{msg.ok}}
                    </div>

                    <center><h1 style="padding-top: 40px">Iniciar Sesion</h1></center>
                    <div>
                        <form class="form-signin" action="/inicio_sesionUsuario" method="POST" name="form">
                            <div class="form-group">
                                <input type="text" placeholder="Correo" class="form-styling" name="correoU">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Clave" class="form-styling" name="clave">
                            </div>
                            <button type="submit" class="btn btn-primary">Iniciar sesion</button>
                            <a href="/" class="btn btn-danger">Cancelar</a>
                            <hr>Nuevo aqui? 
                            <a href="/registrarUsuario" type="link">Registrate</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
