{{#if persona}}
{{#unless restringir}}


<section class="site-section bg-light block-13" id="testimonials-section" data-aos="fade">
    
    <div class="container">
<hr>
        {{#if verificar}}
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">

                <h2 class="text-black mb-2">Comentarios de Clientes</h2>
            </div>
        </div>



        <div  data-aos="fade-up" data-aos-delay="200">

            <div class="owl-carousel nonloop-block-13">
                {{#each comentar}}
                <div>
                    <form name="eliminarComentario" action="/eliminarComentario" method="POST">
                        <input type="hidden" value="{{external_id}}" id="borrarComentario" name="borrarComentario">

                        <div class="block-testimony-1 text-center">
                            <blockquote class="mb-4">
                                <div style="right:  3px;top: 3px; position: absolute">
                                    <button type="submit" id="guardar" class="btn btn-sm " ><img title="Eliminar" src="images/error.png"></button>
                                </div>
                                <p>&ldquo;{{comentarios}}&rdquo;</p>
                            </blockquote>
                            <h3 class="font-size-20 text-black">CLIENTE: {{cliente}}</h3>
                        </div>
                    </form>
                </div>

                {{/each}}
             </div>
             <p style="font-size: 30px; font-style: oblique; font-weight: 900">Federico Nietzsche:</p> <a style="font-size: 20px; font-style: oblique">“Las mentes más profundas de todos los tiempos han sentido compasión por los animales”.</a>
        <br><br>
        <div class="form-group">
            <center><img src="images/principalVeterinario.jpg" width="70%" style="border-radius: 8%"></center>
        </div>
        {{/if}}
        {{#unless verificar}}
        <p style="font-size: 30px; font-style: oblique; font-weight: 900">Federico Nietzsche:</p> <a style="font-size: 20px; font-style: oblique">“Las mentes más profundas de todos los tiempos han sentido compasión por los animales”.</a>
        <br><br>
        <div class="form-group">
            <center><img src="images/principalVeterinario.jpg" width="70%" style="border-radius: 8%"></center>
        </div>
        {{/unless}}
    </div>
</section>
{{/unless}}


{{#if restringir}}
<section class="site-section bg-light block-13" id="testimonials-section" data-aos="fade">
    <div class="container">

    </div>
</section>
{{/if}}
{{/if}}
{{#unless persona}}
<section class="site-section bg-light trainers" id="trainers-section">
    <div class="container">
        <br><hr>
        <div class="row">

            <div class="col-md-6" data-aos="fade-right">
                <img class="img-fluid border10 rotate-reverse10" src="images/dog_doctor.jpg" alt="Image">
            </div>
            <div class="col-md-5 ml-auto align-self-center" data-aos="fade-left">
                <h2 class="mb-2 heading mb-4">Conoce a <strong>Sofia Macas</strong> nuestra Veterinaria especializada.</h2>
                <p>Nos complace darle la bienvenida a nuestro equipo de trabajo; aquí encontraras algunos tips y sugerencias sobre el cuidado de nuestras mascotas, los servicios que ofrecemos y que ponemos a su disposición. 

Estamos aquí para ayudarlos, si tiene alguna duda o comentario puede ponerse en contacto con nosotros; recuerde que nuestra prioridad es la salud de su mascota.
<hr>
Atentamente,
<br>
Universidad Nacional de Loja</p>

            </div>
        </div>
    </div>
</section>

<section class="site-section " id="services-section">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">
                <h2 class="text-black mb-2">Servicios</h2>
                <p>Servicios ofrecidos de manera inmediata.</p>
            </div>
        </div>
        <center>
        <div class="row">
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">

                <div class="block_service">
                    <span class="fas fa-ambulance fa-7x" style="color: #c82333"></span>
                    <h3>Emergencias</h3>
                    <p>Soportamos todo tipo de emergencias gracias a nuestro equipo medico que siempre esta listo para actuar ante cualquier percance.</p>
                </div>

            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="100">
                <div class="block_service">
                    <span class="fas fa-syringe fa-7x" style="color: #c82333"></span>
                    <h3>Vacunacion</h3>
                    <p>Contamos con todo tipo de vacunas para proteger a su mascota desde los primeros dias de nacimiento hasta su adultes mayor.</p>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="200">
                <div class="block_service">
                    <span  > <img src="images/scalpel.svg" width="90" height="85"></span>
                    <h3>Cirugias</h3>
                    <p>Nuestra veterinaria se encuentra altamente equipada con tecnologia de punta para atender todo tipo de procediminetos quirurgicos. </p>
                </div>
            </div>


            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="">

                <div class="block_service">
                    <span class="fas fa-cut fa-7x" style="color: #c82333"></span>
                    <h3>Aseo</h3>
                    <p>La parte estetica e higiene de su mascota tambien es importante ya que ayuda a la prevencion de enfermedades solo con un correcto aseo.</p>
                </div>

            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="100">
                <div class="block_service">
                    <span class="fas fa-hospital fa-7x" style="color: #c82333"></span>
                    <h3>Hopitalizacion</h3>
                    <p>Nosotros brindamos un confortable ambiente de alojamineto para su mascota cuando esta lo requiera.</p>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="200">
                <div class="block_service">
                    <span class="fas fa-dog fa-7x" style="color: #c82333"></span>
                    <h3>Dermatologia</h3>
                    <p>Los problemas de la piel de nuestras mascotas son una de las consultas mas frecuentes en el dia a dia de una hospital veterinario.</p>
                </div>
            </div>

        </div>
            </center>
    </div>
</section>

<!--agregar nueva mascota-->
<div class="modal fade" id="ModalMascota" tabindex="-1" role="dialog" aria-labelledby="modalpaciente"
     aria-hidden="true">
    <div class="modal-dialog modg-scrollable" role="document">
        <div class="modal-content">
            <div class="bg-success text-black">
                <center>
                    <h5 class="modal-title" id="modalpaciente">REGISTRAR MASCOTA</h5>
                </center>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="error1"></div>
                <
            </div>
        </div>
    </div>
    <!--</div>terminacion de agregacion de mascota-->
    {{/unless}}
