<section class="banner_area d-flex text-center">
            <div class="container align-self-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_content">
                            <h6>HEY JOPUTA</h6>
                            <h1>{{title}}</h1>
           
                            <a href="#" class="btn_hover btn_hover_two">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

