{{#if persona}}
<section class="banner_area d-flex text-center">
    <div class="container align-self-center">
        <div class="row">
            <div class="col-md-12">
                <div class="banner_content">
                    elemento agregado como ejemplo
                    <div class="form-group" style="margin-right:1000px; margin-top:   -250px">
                        
                        <table class="table" border="1">
                            <thead class="thead-light">
                                <tr>
                                    <th>Generar un recordatorio para una cita</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <input type="date" class="form-check">
                                        <button class="btn-primary">Agregar</button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}
{{#unless persona}}
<section class="banner_area d-flex text-center">
    <div class="container align-self-center">
        <div class="row">
            <div class="col-md-12">
                <div class="banner_content">
                   
                </div>
            </div>
        </div>
    </div>
</section>
{{/unless}}
