<script>
    $(document).ready(function () {
        validarMascota();

    });


</script>


<section class="banner_area d-flex text-center">
    <header class="header_area">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item submenu dropdown">
                            <a href="/" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Regresar</a>
                        </li>

                    </ul>


                </div> 
            </div>
        </nav>

    </header>
    <div class="container"> 

        <div class="container" style="margin-top: 20px;">  
            <div class="panel-body">
                <div class="form-group">
                    <div style="font-size: 20px; color: #b21f2d;"> 
                        {{msg.error}}
                    </div>
                    <div style="font-size: 20px; color: green;"> 
                        {{msg.info}}
                    </div>
                </div>
                <form id="formularioM"  method="POST" action="/registro/mascota">

                    <div style="padding-left:200px; padding-right: 200px">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre"  >
                            </div>
                            <div class="form-group">
                                <label for="raza">Raza:</label>
                                <input type="text" class="form-control" id="raza" name="raza"  placeholder="Ingrese sus raza" >
                            </div>
                            <div class="form-group">
                                <label for="edad">Edad:</label>
                                <input type="text" class="form-control" id="edad" name="edad"  placeholder="Ingrese edad">
                            </div>
                            <label for="edad">Tipo:</label>

                            <div class="btn-group" style="padding-bottom: 15px">

                                <select class="form-control" aria-describedby="espeHelp">
                                    <option>TIPO</option>
                                    <option value="domestica">Domestica</option>
                                    <option value="granja">Granja</option>
                                    <option value="salvaje">Salvaje</option>

                                </select> 

                            </div>


                            <div class="form-group">
                                <label>Especie:</label>
                                <input type="label" class="form-control" id="especie" placeholder="ejemplo: (perro, gato, vaca, pato)">
                            </div>

                        </div>



                        <div class="modal-footer">                                    
                            <button type="submit" id="guardar"class="btn btn-primary">Registrar</button>
                            <a href="/" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                    <br><br><br>
                </form>
            </div>
        </div>
    </div>
</section>

