
<section class="banner_area d-flex text-center">
    <script>
        $().ready(function () {
            validarcliente();
            $("#boton").click(function () {
                buscar();
            });
            function buscar() {
                var url = "http://localhost:3000/users/buscar_consulta";
                var criterio = $("#criterio").val();
                var texto = $("#texto").val();
                $.ajax({
                    url: url,
                    dataType: 'json',
                    data: 'criterio=' + criterio + '&texto=' + texto,
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                        $("#cedula").val(data[0].cedula);
                        $("#paciente").val(data[0].paciente);
                        $("#enf").val(data[0].enf);
                        $("#enf_her").val(data[0].enf_her);
                        $("#hab").val(data[0].habitos);
                        $("#nro").val(data[0].nro);
                        $("#idHistoria").val(data[0].external);


                    }
                });
            }

            cambiarFecha();
            function cambiarFecha() {
                //alert(fecha);
                var d = new Date();
                //alert((d.getDate()+"/"+(d.getMonth()+1))+"/"+d.getFullYear());
                var mes = (d.getMonth() + 1);
                var dia = d.getDate();
                var fecha = (d.getFullYear() + "-" + rellenarCeros(mes, 2) + "-" + rellenarCeros(dia, 2));
                console.log(fecha);
                $("#fecha").val(fecha);
            }
            function rellenarCeros(texto, nro_cero) {
                texto = texto + "";
                if (texto.length < nro_cero) {
                    var aux = "";
                    for (var i = texto.length; i < nro_cero; i++) {
                        aux += "0";
                    }
                    return aux + texto;
                } else {
                    return texto;
                }
            }
        });
    </script>

    <div class="container"> 
        <div> 
            <div class="container" style="margin-top: 20px;">    

                <div class="panel panel-primary">
                    <h1>Datos del Usuario</h1>
                    <div class="form-group">
                        <div style="font-size: 20px; color: #b21f2d;"> 
                            {{msg.error}}
                        </div>
                        <div style="font-size: 20px; color: green;"> 
                            {{msg.ok}}
                        </div>
                    </div>
                    <br>
                        <div class="panel-body">
                            <form id="formularioC"  method="POST" action="/registroUsuario">
                                <div style="padding-left:200px; padding-right: 200px">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" class="btn btn-primary" data-toggle="tab">Datos Personales</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="btn btn-secondary">Datos de Cuenta</a></li>                                        
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content" />
                                    <div role="tabpanel" class="tab-pane active" id="home">
                                        <div class="form-group">
                                            <label for="cedula">Cedula</label>
                                            <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Ingrese su cedula"  >
                                        </div>
                                        <div class="form-group">
                                            <label for="nombres">Nombres:</label>
                                            <input type="text" class="form-control" id="nombres" name="nombres"  placeholder="Ingrese sus nombres" >

                                        </div>
                                        <div class="form-group">
                                            <label for="apellidos">Apellidos:</label>
                                            <input type="text" class="form-control" id="apellidos" name="apellidos"  placeholder="Ingrese sus apellidos">

                                        </div>
                                        <div class="form-group">
                                            <label for="direccion">Direccion:</label>
                                            <input type="text" class="form-control" id="direccion" name="direccion"   placeholder="Ingrese su direccion">

                                        </div>
                                        <div class="form-group">
                                            <label for="telefono">Telefono:</label>
                                            <input type="text" class="form-control" id="telefono" name="telefono"  placeholder="Ingrese su telefono" >
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="profile">
                                        <div class="form-group">
                                            <label for="usuario">Usuario:</label>
                                            <input type="text" class="form-control" id="usuario" name="usuario"  placeholder="Ingrese su usuario" >
                                        </div>
                                        <div class="form-group">
                                            <label for="correo">Correo:</label>
                                            <input type="text" class="form-control" id="correo" name="correo"  placeholder="Ingrese su correo">
                                        </div>
                                        <div class="form-group">
                                            <label for="clave">Clave:</label>
                                            <input type="password" class="form-control" id="clave" name="clave"  placeholder="Ingrese su clave" >
                                        </div>



                                    </div>

                                </div>
                                </form>
                        </div>
                        <div class="modal-footer">                                    
                            <button type="submit" class="btn btn-primary">Registrar</button>
                            <a href="/miCuentaC" class="btn btn-danger">Cancelar</a>
                        </div>

                </div>
            </div>
        </div>
    </div>


</section>
