<!-- PARA GUARDAR PACIENTE--->
<div class="modal fade" id="modificarMascota" tabindex="-1" role="dialog" aria-labelledby="modalmascota" aria-hidden="true">
    <div class="modal-dialog modg-scrollable" role="document">
        <div class="modal-content">
            <div class="bg-success text-black">
                <center>
                    <h5 class="modal-title" id="modalpaciente">MODIFICAR MASCOTA</h5>
                </center>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="error1"></div>
                <form id="tablareg" method="POST" action="/actualizarMascota">
                    <input type="hidden" value="0" id="externalMa" name="externalMa" />
                    <input type="hidden" value="{{cliente.external_id}}" id="externalCliente" name="externalCliente" />
                    <div id="mensaje"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Nombre:</span>
                            <input type="text" class="form-control" id="nombreMa" name="nombreMa" placeholder="Ingrese su nombre">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Raza:</span>
                            <input type="text" class="form-control" id="razaMa" name="razaMa" placeholder="Ingrese sus raza">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Edad:</span>
                            <input type="text" class="form-control" id="edadMa" name="edadMa" placeholder="Ingrese edad">
                        </div>
                    </div>
                    <div class="input-group">

                        <div class="btn-group" style="padding-bottom: 15px">
                            <span class="input-group-text">Sexo:</span>
                            <select class="form-control" name="sexoMa" id="sexoMa" aria-describedby="espeHelp">
                                <option value="hembra">Hembra</option>
                                <option value="macho">Macho</option>
                            </select>
                        </div>
                    </div>
                    {{!-- <label for="edad">Tipo:</label> --}}
                    <div class="input-group">

                        <div class="btn-group" style="padding-bottom: 15px">
                            <span class="input-group-text">Tipo:</span>
                            <select class="form-control" name="tipoMa" id="tipoMa" aria-describedby="espeHelp">
                                <option value="domestica">Domestica</option>
                                <option value="granja">Granja</option>
                                <option value="salvaje">Salvaje</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Especie:</span>
                            <input type="label" class="form-control" id="especieMa" name="especieMa" placeholder="ejemplo: (perro, gato, vaca, pato)">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncancelar" class="btn-danger" data-dismiss="modal"> CANCELAR</i></button>
                        <button type="submit" id="guardar" class=" btn-info">GUARDAR </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>