<!-- PARA GUARDAR MASCOTA--->
<div class="modal fade" id="registroMascota" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modg-scrollable" role="document">
        <div class="modal-content">
            <div class="card-header bg-succses">
                <div class="card-title text-center">
                    <p class="card-text "><h4>REGISTRAR MASCOTA</h4>  </p>
                </div>
            </div>
           
            <div class="modal-body">
                <div id="error1"></div>
                <form id="tablareg" method="POST" action="/veterinario/registro/mascota">
                    <input type="hidden" value="{{cliente.external_id}}" id="externalCli" name="externalCli" />
                    
                    <div id="mensaje"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Nombre:</span>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Raza:</span>
                            <input type="text" class="form-control" id="raza" name="raza" placeholder="Ingrese sus raza">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Edad:</span>
                            <input type="text" class="form-control" id="edad" name="edad" placeholder="Ingrese edad">
                        </div>
                    </div>
                    {{!-- <label for="edad">Tipo:</label> --}}
                    <div class="input-group">
                        
                        <div class="btn-group" style="padding-bottom: 15px">
                            <span class="input-group-text">Tipo:</span>
                            <select class="form-control" name="tipo" id="tipo" aria-describedby="espeHelp">
                             
                                <option value="domestica">Domestica</option>
                                <option value="granja">Granja</option>
                                <option value="salvaje">Salvaje</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Especie:</span>
                            <input type="label" class="form-control" id="especie" name="especie" placeholder="ejemplo: (perro, gato, vaca, pato)">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncancelar" class="btn-danger" data-dismiss="modal"> CANCELAR</i></button>
                        <button type="submit" id="guardar" class=" btn-info">GUARDAR </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>